@import 'tailwindcss';

@theme {
  --breakpoint-xxs: 20rem; /* 320px */
  --breakpoint-xs: 23.9375rem; /* 383px */
  --breakpoint-ms: 33.75rem; /* 540px */
  --breakpoint-xl: 74.625rem; /*1194px */
  --breakpoint-xl-1366: 85.375rem; /*1366px */
  --breakpoint-2xl: 100rem; /*1600px */
  --breakpoint-3xl: 125rem; /* 2000px */
  --tracking-custom: 0.13em;
}

@layer utilities {
  main {
    font-family: var(--font-inter);
  }

  .title {
    font-family: var(--font-playfair-display);
  }

  .custom-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .custom-shadow-card {
    box-shadow: 0px 0px 5px 0px rgba(112, 75, 64, 1);
  }

  .custom-text-shadow {
    text-shadow:
      0px 1px 2px rgba(255, 255, 255, 0.5),
      0px 3px 2px rgba(255, 255, 255, 0.5),
      0px 4px 8px rgba(255, 255, 255, 0.5);
  }

  .custom-shadow-mobile {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  }

  .bg-custom-gradient {
    background: linear-gradient(
      321.5deg,
      rgba(133, 143, 81, 0.66) 5.31%,
      rgba(211, 183, 159, 0.69) 79.41%
    );
  }

  .shadow-img {
    box-shadow: 3px 7px 16px 0px rgba(0, 0, 0, 0.4);
  }

  .title-gradient {
    background: linear-gradient(
      90deg,
      #8d6156 0%,
      #a17a69 10%,
      #ba9b87 20%,
      #d5bba4 35%,
      #ecd9bb 50%,
      #e9d3b7 60%,
      #dbc1a9 70%,
      #d3b69c 80%,
      #d1af92 90%,
      #cea989 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .legal-quote {
    font-family: var(--font-great-vibes);
  }

  .quote-translations-page {
    font-family: var(--font-bad-script);
  }

  ul.mobile-nav-menu li li {
    padding-left: 8px;
    padding-top: 4px;
    display: flex;
  }

  ul.mobile-nav-menu li li::before {
    content: '> ';
    color: #ffffff;
    margin-right: 4px;
  }

  p.list-description {
    display: flex;
    flex-direction: column;
  }

  p.list-description span::before {
    content: '—';
    margin-right: 4px;
  }

  .reason-card div::nth-child(2) {
    margin-right: 4px;
  }

  .about,
  .translations,
  .legalization,
  .prices,
  .contacts,
  .notfound {
    font-family: var(--font-inter);
    background-color: #d7c8b3;
  }

  .legalization li,
  .legalization span,
  .translations li {
    @apply text-base xs:text-lg md:text-xl xl:text-[22px] 3xl:text-2xl text-[#2D201A];
  }

  .legalization p,
  .translations p {
    @apply pt-5 xs:pt-10 px-5 xs:px-8 ms:px-10 sm:px-15 md:px-20 2xl:px-0 text-base xs:text-lg md:text-xl xl:text-[22px] 3xl:text-2xl text-[#2D201A];
  }

  .translations p:last-of-type {
    @apply xl:px-0 text-xl xs:text-2xl md:text-3xl text-center 2xl:text-left text-[#704B40] text-shadow-sm leading-10;
  }

  .translations ul {
    @apply px-8 ms:px-10 sm:px-15 md:px-20 2xl:px-0 text-base xs:text-lg md:text-xl text-[#2D201A];
  }

  .legalization-type-card p {
    @apply text-base xs:text-lg md:text-xl;
  }

  .legalization li:last-child {
    @apply pb-0;
  }

  .about-me-card-animate {
    opacity: 0;
    animation: slide-in 1.2s ease-out forwards;
  }

  .prices p {
    @apply text-base xs:text-lg md:text-xl lg:text-xl xl:text-[22px] 3xl:text-2xl text-[#2D201A];
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.hover-state {
  @apply hover:cursor-pointer hover:text-[#dfd9d6] active:text-[#725346] transition duration-300;
}

nav .icon svg {
  @apply xs:w-[30px] xs:h-[30px];
}

.prices img {
  @apply xs:w-[70px] xs:h-[70px];
}

.legalization-page-icon svg {
  @apply text-[#704b40] w-8 h-8 xs:w-10 xs:h-10;
}
