@import 'tailwindcss';

@theme {
  --breakpoint-3xl: 125rem;
  --tracking-custom: 0.13em;
}

@layer utilities {
  .custom-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .custom-shadow-card {
    box-shadow: 0px 0px 5px 0px rgba(112, 75, 64, 1);
  }

  .custom-text-shadow {
    text-shadow:
      0px 1px 2px rgba(255, 255, 255, 0.5),
      0px 3px 2px rgba(255, 255, 255, 0.5),
      0px 4px 8px rgba(255, 255, 255, 0.5);
  }

  .custom-shadow-mobile {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  }

  .bg-custom-gradient {
    background: linear-gradient(
      321.5deg,
      rgba(133, 143, 81, 0.66) 5.31%,
      rgba(211, 183, 159, 0.69) 79.41%
    );
  }

  .shadow-img {
    box-shadow: 3px 7px 16px 0px rgba(0, 0, 0, 0.4);
  }

  .title-gradient {
    background: linear-gradient(
      90deg,
      #8d6156 0%,
      #a17a69 10%,
      #ba9b87 20%,
      #d5bba4 35%,
      #ecd9bb 50%,
      #e9d3b7 60%,
      #dbc1a9 70%,
      #d3b69c 80%,
      #d1af92 90%,
      #cea989 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .legal-quote {
    font-family: var(--font-great-vibes);
  }

  .legalization-page-icon svg {
    color: #704b40;
    width: 40px;
    height: 40px;
  }

  ul.mobile-nav-menu li li {
    padding-left: 8px;
    padding-top: 4px;
    display: flex;
  }

  ul.mobile-nav-menu li li::before {
    content: '> ';
    color: #ffffff;
    margin-right: 4px;
  }

  p.list-description {
    display: flex;
    flex-direction: column;
  }

  p.list-description span::before {
    content: '—';
    margin-right: 4px;
  }

  .reason-card div::nth-child(2) {
    margin-right: 4px;
  }

  .about,
  .translations,
  .legalization,
  .prices,
  .contacts {
    font-family: var(--font-inter);
    /* background-color: #e0cdbd; */
    background-color: #d7c8b3;
  }

  .legalization p,
  .legalization li {
    @apply text-lg md:text-[22px] text-[#2D201A];
  }

  .legalization-type-card p {
    @apply text-lg md:text-xl;
  }

  .legalization li:last-child {
    @apply pb-0;
  }

  .about-me-card-animate {
    opacity: 0;
    animation: slide-in 1.2s ease-out forwards;
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.hover-state {
  @apply hover:cursor-pointer hover:text-[#422F27] active:text-[#422F27] transition duration-300;
}
